CLIENT_ID=
GUILD_ID=
TOKEN=
DATA_STORE=redis://localhost:6379
DATABASE_URL="mysql://root:password@localhost:3306/dbot"

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# where the root directory for this bot is
INSTALL_DIR=/home/dbot

FIRECRACKER_SOCKET_DIR=/tmp/firecracker
FIRECRACKER_BINARY_PATH=${INSTALL_DIR}/assets/firecracker/bin/firecracker-v0.24.6
FIRECRACKER_CHALLENGE_FS_DIR=${INSTALL_DIR}/assets/firecracker/fs
FIRECRACKER_ADD_TAP_SCRIPT=${INSTALL_DIR}/assets/firecracker/scripts/addtap.sh
FIRECRACKER_DEL_TAP_SCRIPT=${INSTALL_DIR}/assets/firecracker/scripts/deltap.sh

# Password challenge lists
PASSWORD_CHALLENGE_LISTS=${INSTALL_DIR}/assets/passwords

# should debug mode be enabled (1 for yes, 0 for no)
DEBUG=0
SQL_DEBUG=0
